<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Doctor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <body class="register-doctor-page">
    <div class="top-bar">
        <span class="hospital-title">Admin Panel</span>
        <div class="top-links">
            <a href="{{ url_for('admin_dashboard') }}">Home</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>

    <div class="admin-container">
        
        
        <h2 class="admin-title">Register New Doctor</h2>

        <div class="doctor-form-wrapper">
            <form action="{{ url_for('createdoc') }}" method="POST">
                
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Department</label>
                    <select name="specialization" class="form-control" required>
                        <option value="" disabled selected>Select Department</option>
                        <option value="Cardiology">Cardiology</option>
                        <option value="Neurology">Neurology</option>
                        <option value="Orthopedics">Orthopedics</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" name="phone" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Year's Of Experience</label>
                    <input type="text" name="experience" class="form-control">
                </div>

                <br>
            

                <div class="form-actions">
                    <button type="submit" class="btn-create-submit">Save Profile</button>
                </div>
            </form>
        </div>
    </div>

    <div class="bottom-bar">
        <p>&copy; 2025 LifeLine System</p>
    </div>
</body>
</html>