<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo">
                <h1>LifeLine System</h1>
            </div>
            <nav>
                <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                <a href="{{ url_for('login') }}" class="btn-header">Login</a>
                <a href="{{ url_for('register') }}" class="btn-header">Register</a>
            </nav>
        </div>
    </header>

    <div class="page-wrapper">
        <div class="input-card">
            <h2>Register Form</h2>
            <form method="POST">                                                                                
                <label>Username</label>
                <input type="text" name="username">
                
                <label>Password</label>
                <input type="password" name="password">
                
                <button type="submit">Register</button>
            </form>
            <p class="switch-text">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </div>

 <!-- Footer -->
    <footer>
        <p>&copy; 2025 LifeLine Hospital Management System. All rights reserved.</p>
    </footer>
</body>
</html>